{% extends "base.html" %}
{% block content %}
	{# {{ super() }} #}
	<div class="container">
		{% if name  %}

		<h1>hello {{ name }}!</h1>
		{% else %}
		<h1>hello Stranger</h1>
		{% endif %}
		{# <h1>index.html</h1> #}
	
<p>          _____                    _____                    _____                    _____          </p>
<p>         /\    \                  /\    \                  /\    \                  /\    \         </p>
<p>        /::\    \                /::\    \                /::\____\                /::\    \        </p>
<p>       /::::\    \              /::::\    \              /::::|   |               /::::\    \       </p>
<p>      /::::::\    \            /::::::\    \            /:::::|   |              /::::::\    \      </p>
<p>     /:::/\:::\    \          /:::/\:::\    \          /::::::|   |             /:::/\:::\    \     </p>
<p>    /:::/__\:::\    \        /:::/__\:::\    \        /:::/|::|   |            /:::/  \:::\    \    </p>
<p>    \:::\   \:::\    \      /::::\   \:::\    \      /:::/ |::|   |           /:::/    \:::\    \   </p>
<p>  ___\:::\   \:::\    \    /::::::\   \:::\    \    /:::/  |::|   | _____    /:::/    / \:::\    \  </p>
<p> /\   \:::\   \:::\    \  /:::/\:::\   \:::\    \  /:::/   |::|   |/\    \  /:::/    /   \:::\ ___\ </p>
<p>/::\   \:::\   \:::\____\/:::/  \:::\   \:::\____\/:: /    |::|   /::\____\/:::/____/  ___\:::|    |</p>
<p>\:::\   \:::\   \::/    /\::/    \:::\  /:::/    /\::/    /|::|  /:::/    /\:::\    \ /\  /:::|____|</p>
<p> \:::\   \:::\   \/____/  \/____/ \:::\/:::/    /  \/____/ |::| /:::/    /  \:::\    /::\ \::/    / </p>
<p>  \:::\   \:::\    \               \::::::/    /           |::|/:::/    /    \:::\   \:::\ \/____/  </p>
<p>   \:::\   \:::\____\               \::::/    /            |::::::/    /      \:::\   \:::\____\    </p>
<p>    \:::\  /:::/    /               /:::/    /             |:::::/    /        \:::\  /:::/    /    </p>
<p>     \:::\/:::/    /               /:::/    /              |::::/    /          \:::\/:::/    /     </p>
<p>      \::::::/    /               /:::/    /               /:::/    /            \::::::/    /      </p>
<p>       \::::/    /               /:::/    /               /:::/    /              \::::/    /       </p>
<p>        \::/    /                \::/    /                \::/    /                \::/____/        </p>
<p>         \/____/                  \/____/                  \/____/                                  </p>
			                                                                                                    
	
		
	</div>
{% endblock %}